.text-platzi {
    color : #198754 !important;
}

.btn-sun {
    background-color:#198754 ;
    color: white !important;
}
.btn-sun:hover {
    background-color: #127671 ;
}
#footer {
    background: #212529 ;
}

#main .carousel-inner img {
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(10%);
}
#special{
    background-color: #212529;
    color: white;
}
#special img {
    max-width: 100%;
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position : absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5) ;
    color: white;
}

#carousel .container ,
#carousel .row {
    height: 100%;
}

#footer a {
    text-decoration: none;
    color: white;
}

